// Colours 
$bf-bg-main: #61876E;
$bf-green-darkest: #285430;
$bf-bg-secondary: #ffffff;
$bf-green-success: #008060;
$bf-green-third: #3C6255;
$bf-green-hover: #03C988;
$bf-green-bright: #16FF00;
$bf-font-main: black;
$bf-green-primary: #C9F4AA;
$bf-green-secondary: #E5FDD1;
$bf-red-main: red;
$bf-red-light: lightcoral;
$bf-purple: purple;
$bf-dark-purple: darkorchid;
$bf-crimson: crimson;
$bf-react: #61dbfb;
