// Media queries //

@media (max-width: 600px) {
    .intro-container {
        > .bf-intro-frame {
            max-width: 97%;
        }
    }

    .bf-intro-text {
        font-size: 1rem !important;
    }

    .bf-form-main {
        max-width: 97%;
    }

    .btn-container {
        .btn {
            max-width: 8rem;
            height: 3rem;
            font-size: 1rem;
        }
    }

    .form-container {
        padding: 1rem;
        background-color: $bf-green-secondary;
    
        > ol {
            list-style: none;

            > .list-item {
                display: flex;
                flex-direction: column;
                padding: 0.5rem;
                max-height: 5rem;
    
                > .list-item-label {
                    margin-bottom: 0.5rem;
                }
    
                > .input-field {
                    padding: 0.3rem 0.4rem;
                    border: 0.1rem solid $bf-green-darkest;
                    border-radius: 4rem;
                    font-size: 1rem;
    
                    &:focus, &:active, &:focus-visible {
                        border: 0.1rem solid $bf-green-bright;
                    }
                    
                    &:hover {
                        border: 0.1rem solid $bf-green-bright;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .intro-container {
        max-height: 100vh;
        > .bf-intro-frame {
            max-height: 97%;

            > .bf-intro-frame-footer {
                margin-top: 1rem;
            }
        }
    }

    .form-container {
        padding: 0.5rem;
    }

    .form-btn-footer {
        margin-top: 0;
    }

    .bf-form-main {
        border: 0.5rem solid $bf-green-primary;
    }

}
