.hidden {
  display: none !important;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-accept, .btn-decline {
  width: 8rem;
  height: 2rem;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
}

.btn-accept {
  background-color: lightgreen;
}

.btn-decline {
  background-color: lightcoral;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-container {
  border: 0.2rem solid red;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.warning {
  background-color: lightcoral;
}

.success {
  background-color: lightgreen;
}

.warning-text {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
}

.success-container {
  border: 0.2rem solid lightgreen;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  border: 0.4rem solid red;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {

}

.list-item {
  padding: 1rem;
  margin: 0.5rem;
}

.list-item-label {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

.input-field {
  background-color: #fff;
  max-width: 14rem;
  font-size: 1rem;
}

.checkbox-container {
  padding-top: 1rem;
  margin-top: 0.5rem;
}

.checkbox {
  width: 2rem;
}

.checkbox-label {
  font-weight: 600;
  color: orange;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 2rem;
  background-color: greenyellow;
  color: black;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-field {
  margin-top: 0.5rem;
  border: none;
  background-color: lightcoral;
  padding: 0.2rem;
  max-width: 14rem;
  word-wrap: break-word;
}

.form-btn-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.back-btn {
  width: 8rem;
  background-color: green;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
